<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenDap</title>
</head>
<body>
<script>

    var jsdap = new JsDap(false);

    // for dods request
    var dods = "https://curtis-dev.edf-labs.net/data/dods/results/CASE-1005841/dataset.nc.dods?PID-WindTurbine,TIMESCALE-1_turbine_step,/Results/WindTurbine/Turbine_Type";
    // for dds & das
    var das = 'https://curtis-dev.edf-labs.net/data/dods/results/CASE-1005841/dataset.nc';

    var extraHeaders = {'X-SessionId': '86489a676b73989dda6f2af3a04104a28c8c581b'};

//    function load() {
//        var url = document.getElementById('url').value;
//        var url = dods;
//        var ta = document.getElementById('textarea');
//        jsdap.loadData(url, function(data) {
//            ta.value = JSON.stringify(data, null, 2);
//        }, extraHeaders);
//        return false;
//    }

        function load() {
            var url = document.getElementById('url').value;
            var url = das;
            var ta = document.getElementById('textarea');
            jsdap.loadDataset(url, function(data) {
                ta.value = JSON.stringify(data, null, 2);
            }, extraHeaders);
            return false;
        }


</script>
<form method="GET" action="#">
    <input type="text" id="url" size="128" value="" placeholder="DODS URL"/>
    <input type="button" value="load URL" onclick="load()"/>
</form>
<textarea id="textarea" style="width: 100%; height: 400px;"></textarea>
</body>
</html>
