{
  "root": true,
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "BinaryToArray": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-useless-escape": "warn",
    "no-console": "warn",
    "no-redeclare": "warn"
  }
}
